@font-face {
    font-family: 'spotify-circular-l';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'spotify-circular-b';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2') format('woff2');
}

html, body { 
    background-color: #212121;
    margin: 0; 
    padding: 0;
    font-family: 'spotify-circular-l', Arial, sans-serif;
    color: #FFFFFF;
    height: 100%;
}

.album-detail-wrapper { 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.album-detail { 
    align-items: center;
    gap: 2em;
    margin: auto;
    background-color: #333333;
    border-radius: 1em;
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.album-detail img { 
    width: 15%;
    height: auto; 
    border-radius: 1em;
}

.album-detail div { 
    flex-grow: 1;
    justify-content: center;
}

.album-detail h2 { 
    font-size: 3em;
    margin: 0;
    font-family: 'spotify-circular-b';
}

.album-details { 
    display: flex;
    gap: 10px;
    font-size: 1.2em;
    margin: 1em 0;
}

.song {
    border: 1px solid #ddd;
    margin: 1vh;
    padding: 1vh;
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #333333;
}
  
.song a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.song-title { 
    font-family: 'spotify-circular-b';
}

@media (max-width: 768px) { 
    .album-detail { 
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }
    
    .album-detail img { 
        width: 35%;
    }

    .album-detail h2 {
        font-size: 2em;
    }

    .album-details { 
        font-size: 1em;
    }
}