@font-face {
    font-family: 'spotify-circular-l';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'spotify-circular-b';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2') format('woff2');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
    font-family: 'spotify-circular-b', Arial, sans-serif;
}

.login-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'spotify-circular-b', Arial, sans-serif;
}
