@font-face {
  font-family: "spotify-circular-l";
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "spotify-circular-b";
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2")
    format("woff2");
}

.logo-title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 4vw;
  height: auto;
  margin-right: 1vw;
}

.navbar-img {
  width: 4vw;
  height: auto;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 2vw;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-bar {
  align-items: center;
  margin-left: 1vw;
  display: flex;
  height: 4vh
}

#search-bar input[type="text"] {
  width: 25vw;
  height: 4vh;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0;
}

#search-bar button { 
  width: 4vh;
  height: 4vh;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #1db954;
  cursor: pointer; 
  align-items: center;
  justify-content: center;
  padding: 0;
}

#search-bar button img { 
  height: 80%;
  width: auto;
}

#search-bar button:hover { 
  background-color: #76eb9f;
}


#binotify-title {
  margin: 0;
  font-family: "spotify-circular-b", Arial, sans-serif;
  color: black;
  font-size: 2vw;
}

.login-button {
  padding: 1vh 2vw;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5vw;
  border: none;
  cursor: pointer;
  font-family: "spotify-circular-b", Arial, sans-serif;
  font-size: 2vw;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5vw;
  border: none;
  cursor: pointer;
  font-family: "spotify-circular-b", Arial, sans-serif;
  font-size: 1.5vw;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-name { 
  margin-right: 1rem;
  color: black;
  font-family: "spotify-circular-b", Arial, sans-serif;
}

.link-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color:#333;
  text-decoration: none;
}

.link-item span {
  margin-top: 1px;
}


@media (max-width: 768px) {
  .logo-img {
    width: 10vw;
  }
  .navbar-img {
    width: 5vw; 
  }
  #binotify-title {
    display: none;
  }
  #user-text{
    display: none;
  }
  #icon-text {
    display: none;
  }
  .login-button {
    font-size: 4vw;
    padding: 1vh 3vw; 
  }
  #search-button img {
    width: 5vw;
    height: 5vw;
  }
}
