@font-face {
    font-family: 'spotify-circular-l';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'spotify-circular-b';
    src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2') format('woff2');
}

html, body {
    background-color: #212121;
    margin: 0;
    padding: 0;
    font-family: 'spotify-circular-l', Arial, sans-serif;
    color: #FFFFFF;
    height: 100%;
}

.song-detail-wrapper {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.song-detail {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    max-width: 900px;
    margin: auto;
    background-color: #333333;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.song-detail img {
    width: 25%;
    height: auto;
    border-radius: 1em;
}

.song-detail div {
    flex-grow: 1;
}

.song-detail h2 {
    font-size: 3em;
    margin: 0;
    font-family: 'spotify-circular-b';
}

.album-name a { 
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'spotify-circular-b', Arial, sans-serif;
    font-size: 1.3em;
    color: #1DB954 /* Spotify Color Palette */
}

.song-details {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2em;
    margin: 1em 0;
}

audio {
    width: 100%;
    outline: none;
}

.admin-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn-edit, .btn-delete { 
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: #1db954;
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2vh;
    font-family: "spotify-circular-b", Arial, sans-serif;
    height: 50px;
}

button img {
    width: 15px;
    height: 15px;
}

button span {
    font-size: 1em;
}

.admin-action form button {
    background-color: red;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .song-detail {
        flex-direction: column;
        justify-content: center;
    }

    .song-detail img {
        width: 100%;
    }

    .song-detail h2 {
        font-size: 2em;
    }

    .song-details {
        font-size: 1em;
    }
}
