@font-face {
  font-family: 'spotify-circular-l';
  src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'spotify-circular-b';
  src: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2') format('woff2');
}

html, body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}


.song {
  border: 1px solid #ddd;
  margin: 2vh;
  padding: 1vh;
  border-radius: 2em;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #333333;
}

.song img {
  width: 10%;
  height: auto;
  border-radius: 2em;
}

.song h2 {
  font-size: 3em;
  margin: 0;
  font-family: 'spotify-circular-b';
  color: #FFFFFF;
}

.song a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.song-details {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'spotify-circular-l';
  font-size: 1.5em;
  color: #FFFFFF;
}

#search-text {
  text-align: center;
  font-family: 'spotify-circular-b';
  color: white;
}

p { 
  text-align: center;
  font-family: 'spotify-circular-b';
  color: white
}

#search-options { 
  display: flex;
  justify-content: center;
}

.pagination {
  text-align: center;
  margin-top: 2vh;
}

.pagination a {
  font-family: 'spotify-circular-l';
  font-size: 1.2em;
  color: #ffffff;
  background-color: #444;
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #888;
}

.pagination a.active { 
  background-color: #1db954;
  color: white;
  font-family: 'spotify-circular-b';
}

@media (max-width: 768px) {
  .song img {
      width: 20%;
  }
  .song h2 {
      font-size: 2em;
  }
  .song-details {
      font-size: 1.5em;
  }
  .pagination a { 
    font-size: 1em;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .song img {
      width: 25%;
  }
  .song h2 {
      font-size: 1.5em;
  }
  .song-details {
      font-size: 1em;
  }

}
