@font-face {
    font-family: "spotify-circular-l";
    src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Light.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "spotify-circular-b";
    src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2")
      format("woff2");
  }
html,
body {
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.users {
    border: 1px solid #ddd;
    margin: 2vh;
    padding: 0vh 4vh;
    border-radius: 2em;
    display: flex;
    align-items: center;
    background-color: #333333;
    height: auto;
}

.user-id {
    color: #ffffff;
    font-family: "spotify-circular-b";
    margin-right: 1vw;
}

.user-id h2 {
    font-size: 3em;
}

.user-detail {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: grid;
    grid-template-columns: 150px auto;
    color: #ffffff
}

.label {
    font-family: "spotify-circular-b";
    font-size: 1.5em;
    text-align: right;
    margin-right: 10px;
}

.value {
    font-family: "spotify-circular-l";
    text-align: left;
    font-size: 1.5em;
}
